---
layout: page
title: Leandra Fernandes - Profissional de Educação Física
description: Leandra Fernandes - Profissional de Educação Física
---

	<ul class="posts">
{% for post in paginator.posts %}
		<li>
<a href="{{ post.url }}">{{ post.title }}</a>
{{ post.excerpt }}
		</li>
{% endfor %}
	</ul>

<nav class="paginate">
{% if paginator.total_pages > 1 %}
	{% if paginator.previous_page %}
	<a class="arrow" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#171;</a>
	{% endif %}
{% for page in (1..paginator.total_pages) %}
{% if page == paginator.page %}
	<span>{{ page }}</span>
{% elsif page == 1 %}
	<a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
{% else %}
	<a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
{% endif %}
{% endfor %}
      {% if paginator.next_page %}
<a class="arrow" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#187;</a>
      {% endif %}
{% endif %}
<nav>
